@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: none;
}
.container {
  margin-top: 4rem;
}
.glasses-header {
  flex: 0 0 33%;
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 3rem;
}
.filter-title {
  flex: 0 0 24.7%;
  border-right: 2px solid black;
  height: 3rem;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.glasses-title {
  line-height: 45px;
  font-size: 25px;
  font-family: 'caslon-graphique';
  font-weight: 300;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-family: 'caslon-graphique';
  font-weight: bold;
}
.glasses-image {
  max-width: 100%;
  height: 100%;
}
.glasses-image-container {
  flex: 0 0 33%;
  border: 1px solid black;
  border-top: 0;
}

.glasses-row {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .glasses-image-container {
    flex: 0 0 49.5%;
  }
}
@media only screen and (max-width: 412px) {
  .glasses-image-container {
    flex: 0 0 99%;
  }
}
@media only screen and (max-width: 1025px) {
  .glasses-header {
    flex: 0 0 99%;
  }
  .filter-title {
    flex: 0 0 49.86%;
    border-right: 1px solid black;
  }
  .filter-title:last-child {
    border-right: 0;
  }
}
